/* manrope-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src:
    url("/phd-group-site/fonts/manrope-v20-latin-regular.woff2") format("woff2"),
    url("/phd-group-site/fonts/manrope-v20-latin-regular.ttf")
      format("truetype");
}

/* manrope-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src:
    url("/phd-group-site/fonts/manrope-v20-latin-500.woff2") format("woff2"),
    url("/phd-group-site/fonts/manrope-v20-latin-500.ttf") format("truetype");
}

/* manrope-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src:
    url("/phd-group-site/fonts/manrope-v20-latin-600.woff2") format("woff2"),
    url("/phd-group-site/fonts/manrope-v20-latin-600.ttf") format("truetype");
}

/* manrope-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src:
    url("/phd-group-site/fonts/manrope-v20-latin-700.woff2") format("woff2"),
    url("/phd-group-site/fonts/manrope-v20-latin-700.ttf") format("truetype");
}

/* manrope-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src:
    url("/phd-group-site/fonts/manrope-v20-latin-800.woff2") format("woff2"),
    url("/phd-group-site/fonts/manrope-v20-latin-800.ttf") format("truetype");
}

/* work-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("/phd-group-site/fonts/work-sans-v24-latin-regular.woff2")
      format("woff2"),
    url("/phd-group-site/fonts/work-sans-v24-latin-regular.ttf")
      format("truetype");
}

/* work-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  src:
    url("/phd-group-site/fonts/work-sans-v24-latin-italic.woff2")
      format("woff2"),
    url("/phd-group-site/fonts/work-sans-v24-latin-italic.ttf")
      format("truetype");
}

/* work-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src:
    url("/phd-group-site/fonts/work-sans-v24-latin-500.woff2") format("woff2"),
    url("/phd-group-site/fonts/work-sans-v24-latin-500.ttf") format("truetype");
}

/* work-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("/phd-group-site/fonts/work-sans-v24-latin-600.woff2") format("woff2"),
    url("/phd-group-site/fonts/work-sans-v24-latin-600.ttf") format("truetype");
}

:root {
  /* --clr-bg: #f7f8fa;
  --clr-bg-dark: #eceff3;

  --clr-text: #1f2933;
  --clr-text-light: #4b5563;

  --clr-primary: #1e3a5f;
  --clr-primary-dark: #0b1e36;

  --clr-primary: hsl(235, 48%, 41%);
  --clr-primary-dark: hsl(234, 61%, 21%); */

  --clr-text: #163330;
  --clr-text-light: #52645f;

  --clr-primary-light: #9bd0b9;
  --clr-primary: #1f7062;
  --clr-primary-dark: #193e36;

  --clr-border: #d8e1dc;
  --clr-bg-light: #fefffe;
  --clr-bg: #fbfcf9;
  --clr-bg-dark: #edf3ee;

  --fs-small: clamp(0.8rem, 1.5vw, 0.875rem);
  --fs-body: clamp(0.9rem, 2vw, 1.05rem);
  --fs-subheading: clamp(1.1rem, 2.25vw, 1.3rem);
  --fs-heading: clamp(1.5rem, 2.5vw, 2rem);
  --fs-title: clamp(2.5rem, 4.5vw, 4rem);

  --ff-body: "Manrope", sans-serif;
  --ff-heading: "Sora", sans-serif;
  --ff-title: Georgia, "Times New Roman", serif;
  /* --ff-body: "Source Sans 3", sans-serif;
  --ff-heading: "Outfit", sans-serif; */

  /* font-size: 16px; */
  line-height: 1.6;
}

/* @media (max-width: 810px) {
  :root {
    font-size: 17px;
  }
}
@media (max-width: 720px) {
  :root {
    font-size: 16px;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;

  font-size: var(--fs-body);
  font-family: var(--ff-body);

  color: var(--clr-text);
  background: var(--clr-bg);
}
@media (max-width: 44rem) {
  body:has(.mobile-nav[data-open="true"]) {
    overflow: hidden;
  }
}

main {
  flex: 1;
  display: grid;
}
section,
header,
footer,
.page-grid {
  --page-padding: 3rem;
  --section-inline-padding: 1.5rem;
  --content-max-width: 1050px;

  @media (max-width: 41rem) {
    --section-inline-padding: 1rem;
  }

  display: grid;
  width: 100%;
  grid-template-columns:
    [full-width-start]
    minmax(var(--section-inline-padding), 1fr)
    [content-start]
    min(100% - (var(--section-inline-padding) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--section-inline-padding), 1fr)
    [full-width-end];
}
section > *,
header > *,
footer > *,
.page-grid > * {
  grid-column: content;
}
header,
footer {
  --content-max-width: 1100px;
}

section:first-child {
  padding-block-start: var(--page-padding);
}
section:last-child {
  padding-block-end: var(--page-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: 600;
  max-width: 70ch;
  text-wrap: pretty;
}
p {
  max-width: 70ch;
  text-wrap: pretty;
}

a {
  color: var(--clr-primary);
  display: inline-block;
  width: fit-content;
}
a:hover {
  color: var(--clr-primary-dark);
}

img,
svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.md {
  & p {
    padding-block-end: 0.5lh;
  }
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: var(--ff-body);
    font-weight: 600;
    margin-block-start: 0.1lh;
  }
  & h2 {
    font-size: 1.375rem;
  }
  & h3 {
    font-size: 1.125rem;
  }

  & img {
    mix-blend-mode: multiply;
    width: 100%;
    border: 2px solid currentColor;
    padding: 1ch;
  }
}

.caps-title {
  font-family: var(--ff-heading);
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--clr-text-light);
}

::selection {
  color: var(--clr-primary);
  background: hsl(from var(--clr-bg) h s 90%);
  /* background: var(--clr-text); */
}
